:root {
  --primary-light: #ffffff; /* white */
  --secondary-light: #f4f4fd; /* cloud */
  --primary-dark: #2e2f42; /* navy-blue */
  --secondary-dark: #434455; /* slate */
  --accent: #4d5ae5; /* iris */
  --accent-active: #404bbf; /* ocean */
  --dairy: #fcfcfc;
  --grey: #2e2f42;
  --navy-blue-modal: #2e2f42;
  --cornflower: #e7e9fc;
  --light-slate: #8e8f99;
  --green: #31d0aa;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* RESET */

.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-dark);
  background-color: var(--primary-light);
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  /* outline: 2px solid rgb(98, 0, 255); */
}
section {
  /* outline: 3px solid red; */
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

header {
  border-bottom: 1px solid var(--cornflower);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
}

.header-logo {
  color: var(--accent);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;

  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}

.header-logo-dark {
  color: var(--primary-dark);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.pages-list {
  display: flex;
  gap: 40px;
}

.page-list-item {
  color: var(--primary-dark);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.page-list-item:hover,
.page-list-item:focus {
  color: var(--accent-active);
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-list-item {
  color: var(--secondary-dark);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-list-item:hover,
.address-list-item:focus {
  color: var(--accent-active);
}

/* Hero */

.hero {
  background-color: var(--primary-dark);
  padding: 188px 0;
}

.hero-title {
  color: var(--primary-light);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;

  width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  color: var(--primary-light);
  background-color: var(--accent);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;

  border: 0 solid transparent;
  border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--accent-active);
}

/* Features */

.features-section {
  padding-top: 120px;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.features-list-title {
  color: var(--primary-dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}
.features-list-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* What we are doing */

.doing-section {
  padding: 120px 0;
}

.doing-list {
  display: flex;
  gap: 24px;
}

.doing-list-item {
  flex-basis: calc((100% - 24px * 2) / 3);
}

.doing-section-title {
  color: var(--primary-dark);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  text-align: center;
  margin-bottom: 72px;
}

/* Our team */
.team {
  background-color: var(--secondary-light);
  padding: 120px 0;
}

.team-list {
  display: flex;
  gap: 24px;
  text-align: center;
}

.team-list-item {
  background-color: var(--primary-light);
  border-radius: 0px 0px 4px 4px;

  flex-basis: calc((100% - 3 * 24px) / 4);
}

.team-title {
  color: var(--primary-dark);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  text-align: center;
  margin-bottom: 72px;
}

.team-list-title {
  color: var(--primary-dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-top: 32px;
  margin-bottom: 8px;
}

.team-list-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-bottom: 32px;
}

/* Footer */
.footer {
  background-color: var(--primary-dark);
  padding: 100px 0;
}
.footer-logo {
  color: var(--accent);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 16px;
}
.footer-logo-light {
  color: var(--secondary-light);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  color: var(--secondary-light);
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;

  width: 264px;
}

/* Portfolio page */

.filters {
  margin-top: 96px;
  margin-bottom: 72px;
}

.filters-btn-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.filters-btn {
  color: var(--accent);
  background-color: var(--secondary-light);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
}
.filters-btn:hover,
.filters-btn:focus {
  color: var(--primary-light);
  background-color: var(--accent-active);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.project {
  margin-bottom: 120px;
}

.project-card-title {
  color: var(--primary-dark);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-top: 32px;
  margin-bottom: 8px;
  padding-left: 16px;
}
.project-card-text {
  color: var(--secondary-dark);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-bottom: 32px;
  padding-left: 16px;
}

.project-list-item {
  border: 1px solid var(--cornflower);
  flex-basis: calc((100% - 24px * 2) / 3);
}
